<div class="container-fluid ">
    <h3>Form Example</h3>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12 row">
        <div class="col-md-3">
            <label> First Name:</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="col-md-3">
            <label> Last Name: </label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="col-md-3">
            <label> College Name: </label>
            <input type="text" class="form-control" formControlName="clgName">
        </div>
        <div class="col-md-3">
          <button (click)="addItem()" class="btn btn-info">+</button>
        </div>
      </div>
      <hr>
        
      <div formArrayName="items" *ngFor="let item of profileForm.get('items').controls; let i = index;">
          
          <div  [formGroupName]="i" class="col-md-12 row">
            <!-- The repeated alias template -->
            <div class="col-md-3">
                <label>Start Time</label>
                <input type="text"  class="form-control" formControlName="startTime">
            </div>
            <div class="col-md-3">
                <label>End Time</label>
                <input type="text"  class="form-control" formControlName="endTime">
            </div>
            <div class="col-md-3">
                <label>Break Time</label>
                <input type="text"  class="form-control" formControlName="breakTime">
            </div>
            <div class="col-md-3">
                <button (click)="removeItem(i)" class="btn btn-info mt-2">-</button>
              </div>
           </div>
        </div>
      <div class="col-md-4 offset-md-4 mt-2">
          <button type="Submit" class="btn btn-info ">Click</button>
      </div>
    </form>
</div>

