<div class="container-fluid bgColorContainer">
    <h3 class="text-secondary text-lest  font-weight-bold">Form Example</h3>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12 row">
        <div class="col-md-3">
            <label> First Name:</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="col-md-3">
            <label> Last Name: </label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="col-md-3">
            <label> College Name: </label>
            <input type="text" class="form-control" formControlName="clgName">
        </div>
        <div class="col-md-3">
          <button (click)="addItem()" class="btn btn-info" style="margin-top: 10%">+</button>
        </div>
      </div>
      <hr>
        
      <div formArrayName="items" *ngFor="let item of profileForm.get('items').controls; let i = index;">
          
          <div  [formGroupName]="i" class="col-md-12 row">
            <!-- The repeated alias template -->
            <div class="col-md-3">
                <label>Start Time</label>
                 <input placeholder="Time:" name="stime" formControlName="startTime"
                [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"  class="form-control" >
                <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
            </div>
            <div class="col-md-3">
                <label>End Time</label>
                <input placeholder="Time:" name="endTime" formControlName="endTime"
                [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"  class="form-control" >
                <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
            </div>
            <div class="col-md-3">
                <label>Break Time</label>
                <input placeholder="Time:" name="breakTime" formControlName="breakTime"
                [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"  class="form-control" >
                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
            </div>
            <div class="col-md-3">
                <button (click)="removeItem(i)" class="btn btn-info" style="margin-top: 10%">-</button>
              </div>
           </div>
        </div>
      <div class="col-md-4 offset-md-4 mt-2">
          <button type="Submit" class="btn btn-info">Click</button>
      </div>
    </form>
</div>
<div>
  <app-template-driven-form></app-template-driven-form>
</div>

